
.FerryTable {
    padding: 20px 0px;
}
table {
    width:100%;
  }
  table, th, td {
    border: 1px solid #2c3e50;
    border-collapse: collapse;
  }
  th, td {
    padding: 5px;
    text-align: left;
  }
  table#t01 tr:nth-child(even) {
    background-color: #eee;
  }
  table#t01 tr:nth-child(odd) {
   background-color: #fff;
  }
  table#t01 th {
    background-color: #2c3e50;
    color: white;
  }