
div#mapHolder {
    display: flex;
}
#mapTable>h4 {
  margin-top: 20px;
  
}
div#mapTable {
    max-width: 300px;
    padding-right: 20px;
}
div#search-area {
  display: flex;
  justify-content: center;
  margin: 20px 0px;
  align-items: center;
}

#search-area>h4 {
  margin: 0px 10px;
  font-weight: 300;
  font-size: 1.1em;
}
#mapTable > span {
    display: flex;
}
#map{
    flex:2;
  }
.map{
    width: 100vw;
  }
  
  .MicrosoftMap .Infobox{
    width:200px;
  }
  .MicrosoftMap .Infobox .infobox-stalk{
    top:155.8px;
  }
  .MicrosoftMap .Infobox .infobox-body{
    width:170px;
  }
  .MicrosoftMap .Infobox .infobox-actions{
    height: 25px;
  }
  .infobox_pointer{
    width:33px;
    height:38px;
    overflow:hidden;
    position:relative;
    z-index:1;
    left:20px;
    top:-1px;
  }
div#legend{
  padding: 10px;
  margin-top: 10px;
  border: 2px solid #2c3e50;
  max-height: 85px;
}
#legend>h4 {
  font-size: 1em;
}
  div#legend-body {
    display: flex;
    align-content: space-between;
    align-items: center;
    justify-content: center;
}
div#legend-body>p{
  font-size: 12px;
}

#legend-body>img {
    width: 24px;
    height: auto;
    margin: 0px 10px;
}